@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --spacing: 1px;
    --font-roboto: "Roboto", sans-serif;
    --text-xxs: 10px;
}

@utility grid-cols-auto-* {
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * --value(integer)), 1fr));
}
@utility radius-* {
    border-radius: calc(var(--spacing) * --value(integer));
}

body {
    @apply font-roboto select-none;
}

.icon {
    width: 100%;
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    aspect-ratio: 1/1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        background-color: var(--color-gray-100);
    }

    &.selected {
        background-color: var(--color-gray-100);
        border-color: var(--color-gray-600);
        @apply inset-ring-gray-600 inset-ring-1;
    }

    &.warning {
        background-color: var(--color-yellow-50);
        border-color: var(--color-yellow-300);
    }

    &.warning.selected {
        border-color: var(--color-gray-600);
        @apply inset-ring-gray-600 inset-ring-1;
    }

    .warning {
        position: absolute;
        top: 5px;
        right: 5px;
        color: var(--color-yellow-400);
    }
}
