@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --spacing: 1px;
    --font-roboto: "Roboto", sans-serif;
    --text-xxs: 10px;
}

@utility grid-cols-auto-* {
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * --value(integer)), 1fr));
}
@utility radius-* {
    border-radius: calc(var(--spacing) * --value(integer));
}

body {
    @apply font-roboto select-none;
}

.icon {
    width: 100%;
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    aspect-ratio: 1/1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        background-color: var(--color-gray-100);
    }

    &.selected {
        background-color: var(--color-gray-100);
        border-color: var(--color-gray-600);
        @apply inset-ring-gray-600 inset-ring-1;
    }

    &.warning {
        background-color: var(--color-yellow-50);
        border-color: var(--color-yellow-300);
        &:focus {
            outline: none;
        }
    }

    &.warning.selected {
        border-color: var(--color-gray-600);
        @apply inset-ring-gray-600 inset-ring-1;
    }

    .warning {
        position: absolute;
        top: 5px;
        right: 5px;
        color: var(--color-yellow-400);
    }
}


aside {
    .panel-head {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--color-gray-500);
        margin-bottom: 5px;
        border-bottom: 1px solid var(--color-gray-200);
        padding: 7px 10px 4px;
        vertical-align: bottom;
        background: var(--color-gray-50);
    }
}

.section-title {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color-gray-500);
    font-weight: bold;
}
.input-outer {
    &.disabled {
        opacity: .5;
    }
}
.input {
    &:disabled {
        font-family: "Roboto Light", sans-serif;
        user-select: none;
        pointer-events: none;
    }
}