@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --spacing: 1px;
    --font-roboto: "Roboto", sans-serif;
    --text-xxs: 10px;
}

@utility grid-cols-auto-* {
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * --value(integer)), 1fr));
}
@utility radius-* {
    border-radius: calc(var(--spacing) * --value(integer));
}

body {
    @apply font-roboto select-none;
}

.icon {
    width: 100%;
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    aspect-ratio: 1/1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        background-color: var(--color-gray-100);
    }

    &.selected {
        background-color: var(--color-gray-100);
        border-color: var(--color-gray-600);
        @apply inset-ring-1 inset-ring-gray-600;
    }

    &.warning {
        background-color: var(--color-yellow-50);
        border-color: var(--color-yellow-300);
    }

    &.warning.selected {
        border-color: var(--color-gray-600);
        @apply inset-ring-1 inset-ring-gray-600;
    }

    .warning {
        position: absolute;
        top: 5px;
        right: 5px;
        color: var(--color-yellow-400);

        &:focus {
            outline: none;
        }
    }
}

aside {
    .panel-head {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--color-gray-500);
        margin-bottom: 5px;
        border-bottom: 1px solid var(--color-gray-200);
        padding: 7px 10px 4px;
        vertical-align: bottom;
        background: var(--color-gray-50);
    }
}

.section-title {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color-gray-500);
    font-weight: bold;
}

.input-outer {
    &.disabled {
        opacity: 0.5;
    }

    &.error,
    &.error:focus-within {
        background-color: var(--color-red-50);
        border-color: var(--color-red-300);
        @apply inset-ring-1 inset-ring-red-300;
    }

    &:focus-within {
        background-color: var(--color-gray-50);
        @apply inset-ring-1 inset-ring-gray-200;
    }
}

.input {
    &:disabled {
        font-family: "Roboto Light", sans-serif;
        user-select: none;
        pointer-events: none;
    }
}

.btn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    &.btn-primary {
        background-color: var(--color-gray-800);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-gray-700);
        }

        &:active {
            background-color: var(--color-gray-600);
        }

        &:focus {
            background-color: var(--color-gray-700);
            outline: none;
        }
    }

    &.btn-secondary {
        color: var(--color-gray-600);

        &:hover {
            background-color: var(--color-gray-100);
        }

        &:active {
            background-color: var(--color-gray-200);
        }
    }

    &.btn-lg {
        padding: 10px;
        font-size: var(--text-sm);
        text-align: center;
        font-weight: bold;
        border-radius: 8px;
    }
}

.prop-status {
    display: flex;
    align-content: center;
    font-size: 12px;
    gap: 3px;
    color: var(--color-gray-500);

    span {
        padding-top: 1px;
    }
}

.tooltip {
    &.tooltip-sm {
        font-size: 12px;
        padding: 4px 5px;
    }
}

.mini-scroll {
    ::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: var(--color-gray-300);
    }

    /* Add a thumb */

    ::-webkit-scrollbar-thumb {
        background: var(--color-gray-900);
    }
}
